@model ESFA.DC.LARS.Web.Models.ViewModels.SearchResultsViewModel<TLevelSearchModel, TLevelModel>

<hr class="colour-black govuk-section-break govuk-section-break--m govuk-section-break--visible">
<li>There are no results that match your search. Try changing the filters and searching again.</li>