@model string
<div>
    <label class="govuk-label" for="@Model-input">Search by <strong>name</strong> or <strong>reference number</strong></label>
    <div class="autocomplete-wrapper" aria-label="Search by name or reference number">
        <div class="autocomplete__wrapper" role="combobox" aria-expanded="false">
            <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                No search results.<span>,,</span>
            </div>
            <input aria-owns="@Model-input__listbox" autocomplete="off" class="autocomplete__input autocomplete__input--default" id="@Model-input" name="@Model" placeholder="" type="text" role="textbox">
            <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="@Model-input__listbox" role="listbox">
            </ul>
        </div>
    </div>
</div>