@model ESFA.DC.LARS.Web.Models.ViewModels.SearchResultsViewModel<StandardSearchModel, StandardModel>
@{
    Layout = "~/Views/Shared/_LayoutSearchResults.cshtml";
    ViewData["Title"] = "Index";
    ViewData["SearchTitle"] = "Search Standards";
}
@section Filters
{}

@section Results
{
    <p class="govuk-body flex space-between">
        <span ref="ResultsCount">@Model.Results.Count() results</span>
    </p>

    <filter-feedback search-type="Standards"></filter-feedback>

    <div ref="Results">
        @await Html.PartialAsync("_SearchResults", Model)
    </div>
}

@section PageScripts
{
    <script>
        var viewService = new ESFA.ViewService();
        viewService.setupFrameworkSearchResultView("@Model.SearchModel.SearchTerm");
    </script>

    @* Ensure this include is after the filterNoScript tag removal, if not some DOM selectors may not work as expected*@
    <script src="/assets/dist/js/frameworkSearchResults.js" asp-append-version="true"></script>
}