<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
        <span class="govuk-phase-banner__text">This is a new service – your <a href="https://www.smartsurvey.co.uk/s/findalearningaimfeedbackv2/" target="_blank" class="govuk-link">feedback</a> will help us to continue to improve the find a learning aim service.</span>
    </p>
</div>
@if (ViewBag.PageId != "home-page" && ViewData.ContainsKey("BackUrl"))
{
    <a href="@ViewData["BackUrl"]" class="govuk-back-link">Back</a>
}