@model BreadcrumbsModel

<noscript>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a href="/" class="govuk-breadcrumbs__link">Start a new search</a>
            </li>
        </ol>
    </div>
</noscript>

<div id="@Model.Id" class="govuk-breadcrumbs" style="display: none" >
    <ol class="govuk-breadcrumbs__list">
        @foreach (var breadcrumb in Model.Breadcrumbs)
        {
            <li class="govuk-breadcrumbs__list-item">
                @if (!breadcrumb.Key.Equals(Model.Breadcrumbs.Last().Key)){
                <a id="@breadcrumb.Key" class="govuk-breadcrumbs__link">@breadcrumb.Value</a>
                }
                else
                {
                @breadcrumb.Value
                }
            </li>
        }
    </ol>

    <div style="display:none">
        <form id="breadcrumbSubmit" method="post">
        </form>
    </div>
</div>