<div class="govuk-breadcrumbs">
    <ol id="breadCrumbs" class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="/" class="govuk-breadcrumbs__link">
                <noscript>
                    Start a new search
                </noscript>
            </a>
        </li>
    </ol>
</div>
