<meta charset="utf-8" />
<title>@ViewData["Title"]</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="theme-color" content="#0b0c0c" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta property="og:image" content="~/assets/dist/govuk/images/govuk-opengraph-image.png">

<link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon" />
<link rel="mask-icon" href="~/assets/images/govuk-logotype-crown.png" color="#0b0c0c">
<link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/govuk-apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="167x167" href="~/assets/images/govuk-apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/govuk-apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" href="~/assets/images/govuk-apple-touch-icon.png">

<!--[if lt IE 9]>
    <script src="~/assets/dist/minified/html5shiv.min.js"></script>
<![endif]-->

<environment include="Development">
    <!--[if IE 8]>
        <link href="~/assets/dist/govuk/css/all-ie8.css" rel="stylesheet" />
    <![endif]-->
    <link href="~/assets/dist/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/dist/css/search-box.css" rel="stylesheet" type="text/css" />
</environment>

<environment exclude="Development">
    <!--[if IE 8]>
        <link href="~/assets/dist/minified/govuk/all-ie8.min.css" rel="stylesheet" />
    <![endif]-->
    <link href="~/assets/dist/minified/site.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
</environment>


@if (ViewBag.AutoRefresh != null)
{
    <meta http-equiv="refresh" content="5">
}