@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="govuk-template">
<!--<![endif]-->
<head>
    @await Html.PartialAsync("_Head")
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="govuk-template__body ">

    @await Html.PartialAsync("_Header")

    <div class="govuk-width-container">

        @await Html.PartialAsync("_Banner")

        <main class="govuk-main-wrapper" id="content" role="main">
            @*@await Html.PartialAsync("_Navigation")*@

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    @await Html.PartialAsync("_ErrorSummary")

                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    @await Html.PartialAsync("_Footer")
    
    <script src="assets/dist/minified/vue.min.js"></script>
<environment include="Development">
    <script src="~/assets/dist/govuk/js/all.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/assets/dist/minified/govuk/all.min.js" asp-append-version="true"></script>
</environment>
    <script>
        window.GOVUKFrontend.initAll()
    </script>

    @RenderSection("PageScripts", required: false)
</body>
</html>