@model ESFA.DC.LARS.Web.Models.ViewModels.FrameworkSearchResultsViewModel

<span class="govuk-heading-s govuk-!-margin-bottom-0">Filter results</span>

<div id="allFilters" class="filter-container">

    @await Html.PartialAsync("_SearchCheckboxFilter",
        new SearchFilterModel
        {
            Name = nameof(Model.SearchModel.FrameworkTypes),
            Description = "Framework Type",
            SelectedFilters = Model.SearchModel.FrameworkTypes,
            FilterItems = Model.LookUpModel.FrameworkTypeLookups.Select(f => new FilterItemModel { Value = f.FrameworkType, Description = f.FrameworkTypeDesc }).ToList()
        })

    @await Html.PartialAsync("_SearchCheckboxFilter",
        new SearchFilterModel
        {
            Name = nameof(Model.SearchModel.IssuingAuthorities),
            Description = "Issuing authority",
            SelectedFilters = Model.SearchModel.IssuingAuthorities,
            FilterItems = Model.LookUpModel.IssuingAuthorityLookups.Select(f => new FilterItemModel { Value = f.IssuingAuthority, Description = f.IssuingAuthorityDesc }).ToList()
        })

</div>