@model ESFA.DC.LARS.Web.Models.ViewModels.FrameworkSearchResultsViewModel

@using (Html.BeginForm("Search", "FrameworkSearchResult", FormMethod.Post, new { @id = "filterForm", @class = "govuk-form-group" }))
{
    <div class="govuk-grid-row govuk-!-margin-top-6">
        
        <div class="govuk-grid-column-two-thirds">

            <ul id="resultList" class="govuk-list">
                
                <div ref="Results">
                    @await Html.PartialAsync("_SearchResults", Model)
                </div>

            </ul>

        </div>
    </div>
}